{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Tiff": false,
    "API_ENDPOINT": true
  },
  "rules": {
    "no-console": "off",
    "arrow-body-style": "off",
    "max-len": ["error", 120],
    //
    "no-mixed-operators": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-useless-constructor": "off",
    "no-restricted-syntax": "off",
    "no-unused-vars": "warn",
    "no-continue": "off",
    "class-methods-use-this": "off",
    "object-shorthand": "off",
    "import/prefer-default-export": "off",
    "react/jsx-no-bind": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
