{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "Tiff": false,
    "API_ENDPOINT": true
  },
  "rules": {
    "eqeqeq": "error",
    "arrow-body-style": "off",
    "max-len": "off",
    "no-mixed-operators": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "import/prefer-default-export": "off",
    "react/jsx-max-props-per-line": "warn",
    "react/prop-types": "off",
    "react/prefer-stateless-function": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
