{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "Tiff": false
  },
  "rules": {
    "eqeqeq": "error",
    "arrow-body-style": "off",
    "react/jsx-max-props-per-line": "warn",
    "react/prop-types": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
